.name {
	color: #FF0000;
}

.board {

	height: 80%; 
	width: 50%;
	display: inline-block;
	text-align: left;
}

.card {
    height: 200px;
    width: 150px;
    border: 1px solid #000000;
    border-radius: 10px; 
    background-color: #FFFF00;
}

h1 {
 color: rgb(2, 132, 130); 
}

h2 {
 color: #ffd700;
}

body {
	text-align: center;
}
